body {
  background-color: #f4f6f8;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #2ecc71;
  font-size: 36px;
}

p {
  color: #555;
  font-size: 18px;
}
button {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}
.navbar {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  color: #2ecc71;
  font-size: 22px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.menu a:hover {
  color: #2ecc71;
}
.hero {
  background-color: #2ecc71;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 14px 30px;
  font-size: 16px;
  background-color: white;
  color: #2ecc71;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #e8f8f0;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
}
.cards-section {
  display: flex;
  gap: 20px;
  padding: 60px 20px;
  justify-content: center;
  background-color: #f4f6f8;
}

.card-box {
  background: #ffffff;
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.08);
}

.card-box h3 {
  margin-bottom: 10px;
  color: #2ecc71;
}

.card-box p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.card-btn {
  text-decoration: none;
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  display: inline-block;
}

.card-btn:hover {
  background-color: #27ae60;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .cards-section {
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  background-color: #111;
  color: #aaa;
  text-align: center;
  padding: 25px 10px;
  margin-top: 60px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #aaa;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #2ecc71;
}